<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title"> <h2> <%= @meanings.first.word %> </h2> </h2>
  </div>
  <div class="panel-body">
    <% @meanings.each do |meaning| %>
    <p> <%= meaning.meaning %> -
      <span class="label label-default"> <%= meaning.dictionary.name %></span>
    </p>
    <hr />
    <% end %>
  </div>
</div>

