 <h2> <%= @meanings.first.word %> </h2> 
 <% @meanings.each do |meaning| %>
 <p> <%= meaning.meaning %> -
  <span class="label label-default"> <%= meaning.dictionary.name %></span>
</p>
<hr />
<% end %>

