<div class="meaning-section">
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title"> <h1> <%= @words.first.word %> </h1> </h2>
  </div>
  <div class="panel-body">
    <% @words.each do |word| %>
      <p> <%= word.meaning %> -
        <span class="label label-default"> <%= word.dictionary.name %></span>
     </p>
    <% end %>
  </div>
</div>
</div>