<div class="main-search">
  <div class="intoduction-text">
    <p align="center">
        <h2> <%= t(:pada_kanaja) %> </h2>
    </p>
  </div>
  <hr />
  <div class="form-group main-search-field">
    <%= form_tag root_path, method: :get do %>
    <%= search_field_tag "search" ,params[:search], autofocus: params[:search] ? false : true , class: 'form-control kan-ime search', placeholder: "#{t(:huduku)}" %>
    <% end %>
  </div>
  <hr />
</div>


<% if @words && @words.count > 0 %>
  <%= render "pada_meaning" %>
<% end %>